{% extends 'checkbook_base.html' %}
{% block title %}Create New Account{% endblock %}
{% block content %}
	<h3>CREATE NEW ACCOUNT</h3>
	<div id="account-form">
		<form> <!-- Replace this with the Django Form -->
			<label>First Name:</label><input type="text" name="first_name"><br>
			<label>Last Name:</label><input type="text" name="last_name"><br>
			<label>Initial Deposit:</label><input type="text" name="starting_balance"><br><br>
			<a href="{% url 'createNewAccount' %}"><button id="new-account-button" type="submit" name="createNewAccount">Create Account</button></a>
		</form>
		<br>
	</div>
{% endblock %}
